.progressbar {
    width: 20em;
}

.registrations {
    margin-right: 1em;
}

@media (max-width: 600px) {
    .progressbar {
        width: 50%;
    }
}

@media (min-width: 900px) {
    .descriptions-table,
    .detail-skeleton {
        width: 90%;
    }
}

@media (min-width: 1300px) {
    .descriptions-table,
    .detail-skeleton {
        width: 70%;
    }
}
