.subject-details {
  display: flex;
  flex-direction: row;
  height: auto;
}

.subject-details > * {
  display: flex;
  margin: 0 1rem;
  /* overflow: hidden; */
  white-space: nowrap;
}

.subject-details__name {
  width: 90%;
  overflow: hidden;
  white-space: nowrap;
}

.subject-details__cappacity {
  margin: auto 3rem auto auto;
}
